.navbar-list {
  display: flex;
  justify-content: flex-end;
  width: 95vw;
  margin-top: -10px;
  .nav-item {
    margin: 0px 10px;
    padding: 5px 7px;
    background-color: #46ade9;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
  }
  :hover {
    cursor: pointer;
    color: rgb(13, 3, 49);
    background-color: #7576c7;
  }
}
