nav {
  width: 50%;
  text-align: center;
}
.navbar-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .signed-navLink {
    display: flex;
    flex-direction: row;
    .userName {
      margin: auto 15px;
    }
  }
  .nav-item {
    margin: auto 5px;
    padding: 4px 7px;
    background-color: #46ade9;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    &:hover {
      cursor: pointer;
      color: rgb(13, 3, 49);
      background-color: #7576c7;
    }
  }
}
