.navbar-list {
  display: flex;
  justify-content: flex-end;
  width: 95vw;
  margin-top: -10px;
  .nav-item {
    margin: 0px 10px;
    padding: 5px 7px;
    background-color: #0277bd;
    color: #f3e5f5;
    border-radius: 5px;
    text-decoration: none;
  }
  :hover {
    cursor: pointer;
    color: #7986cb;
    background-color: #e0e0e0;
  }
}
