.main-layout {
  display: flex;
  text-align: center;
  margin: 0px;
  .right-fullBody {
    margin: 0px;
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    background-image: url("../../assets/right-Body.jpg");
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
  }
  .left-sideBar {
    margin: 0px;
    width: 250px;
    height: calc(100vh - 100px);
    background-image: url("../../assets/left-sideBar.jpg");
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
  }
  .bottom-footer {
    margin: 0px;
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: rgb(12, 5, 53);
  }
}
