body {
  margin: 0;
  padding: 0;
  font-family: fantasy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/mainBG.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
div,
section {
  margin: 0;
  padding: 0;
}

.btn {
  font-family: fantasy;
  min-width: 90px;
  padding: 6px;
  border-radius: 5px;
  font-size: 15px;
}
.btn.btn-signOut {
  background-color: rgb(238, 104, 55);
  border: none;
}
.btn.btn-signOut:hover {
  cursor: pointer;
  background-color: rgb(114, 161, 214);
}
.input-item {
  min-width: 200px;
  padding: 10px;
  margin: 5px auto;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  background: #efe9f4;
  border-radius: 5px;
  border-style: hidden;
}
