body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.btn {
  min-width: 100px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}
.input-item {
  min-width: 200px;
  padding: 10px;
  margin: 5px auto;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  background: #efe9f4;
  border-radius: 5px;
  border-style: hidden;
}
